<div class="row">
    <div class="col-md-12">
        <h4 class="page-title text-center">ACCESO NO AUTORIZADO</h4>
        <h5 class="page-title text-center mt-3">No tienes permisos para acceder a esta página.</h5>
    </div>
    <div class="col-md-12 text-center mt-4">
        <a href="javascript:history.back()" class="btn btn-secondary btn-lg">Volver</a>
    </div>
</div>